extends layout

block content  
  #page-wrapper
    #page
      #content
        .post
          .posted
            | Posted by 
            a(href='#') Jenny
            |  on August 14, 2019
          .entry
            h2.title New Fall Styles Have Arrived!
            .image-style1.image-style1a
              a(href='#')
                img(src='images/kids/kids_clothes_cropped_web.jpg' width='570' height='196' alt='')
                span
            p
              | Nam vestibulum hendrerit orci, sed pharetra elit elementum in. Donec in eros sed odio varius tempus. Vestibulum quis quam et velit rutrum ornare nec a massa. Curabitur malesuada ullamcorper nunc in suscipit. Donec semper venenatis dui sed facilisis. Morbi congue facilisis ante in feugiat. Mauris consectetur magna eu enim sagittis et bibendum lacus imperdiet. Maecenas semper massa ac odio ornare sodales. Nunc rhoncus vulputate nisi sed malesuada. Fusce ac mauris dui, id luctus ligula. Integer hendrerit.
            .meta
              p
                span.tags
                  | Posted in 
                  a(href='#') News
                  | , 
                  a(href='#') Style
                  | , 
                  a(href='#') Kids Clothing
                span.comments
                  a(href='#') 235 Comments
      #sidebar
        .bgtop
        .contentbg
          div
            h2.title About Kids Closet
            p
              | We know you want the best for your family: quality, value, and kids&apos; stuff that is safe. Kids Closet buys and sells gently used kids&apos; clothing, shoes, toys and baby gear offering you the opportunity to recycle your children&apos;s nearly new items and get paid on the spot. You can rest assured that products found in your neighborhood store meet current safety standards and have not been recalled. Check out what we&apos;re looking to buy, visit your nearest location, and turn those items into cash or trade them in for things you need now!
          div
            h2.title Recent Posts
            ul
              li.first
                a(href='#') Hendrerit orci sed pharetra elit
              li
                a(href='#') Donec in eros odio varius tempus
              li
                a(href='#') Vestibulum quis quam et velit
              li
                a(href='#') Rutrum ornare nec sed curabitur
              li
                a(href='#') Malesuada ullamcorper nunc
          div
            h2.title Something Else
            p
              | Mauris consectetur magna eu enim sagittis et bibendum lacus imperdiet. Maecenas semper massa amet et odio mauris dui, id luctus amet ligula.
        .bgbtm
