extends layout

block content
  h1 Welcome to TVSearch!
  .row
    .col-md-8
      input(type='text', name='terms', id='terms', placeholder='Enter search terms here', style='width: 100%')
    .col-md-4
      button(type='submit', onclick='window.location.href = "/search/" + $("#terms").val();') Search