extends layout

block content
  h1 Welcome to My Message Board
    form(method='post' action='/')
      input(type='text' name='username' placeholder='your username')
      br
      textarea(name='message' placeholder='your message')
      br
      input(type='submit' value='Submit')

  if allPosts
    ul
    each post in allPosts
      li 
        strong #{post.username} 
        span on #{post.postDate}
        p=post.message
  else 
    h3 Sorry, no posts are available yet